ion-header {
  background-color: #F1F1F1;
}

ion-toolbar ion-title {
  color: #ffffff;
  font-weight: bold;
}

ion-buttons ion-button {
  color: #333;
}

ion-title {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}

ion-buttons {
  color: #333;
}

ion-content {
  padding: 20px;
}

ion-list-header {
  font-weight: bold;
  margin-top: 20px;
}

ion-item {
  margin-bottom: 10px;
}

ion-label {
  color: #247BA0;
  font-weight: bold;
}

ion-input {
  border: none;
  border-bottom: 1px solid #ddd;
}

ion-select {
  border: none;
  border-bottom: 1px solid #ddd;
}

ion-button {
  margin-top: 10px;
}

ion-label[color="danger"] {
  color: #ff0000;
}

.evaluacion-header {
  padding: 8px;
  font-weight: bold;
}

.evaluacion-header ion-label {
  font-weight: bold;
}