<ion-header>
  <ion-toolbar>
    <ion-title>Add new Materia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="materiaForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Profe</ion-label>
      <ion-input formControlName="profe"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Horario</ion-label>
      <ion-input formControlName="horario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Salon</ion-label>
      <ion-input formControlName="salon"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Pase</ion-label>
      <ion-input formControlName="pase" type="number" step="0.01" min="0" max="100"></ion-input>
    </ion-item>
    <ion-list>
      <ion-list-header>Evaluaciones</ion-list-header>
      <ion-item-group formArrayName="evaluaciones">
        <ion-item *ngFor="let evaluacion of evaluaciones.controls; let i=index" [formGroupName]="i">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>

          <ion-label position="floating">Tipo</ion-label>
          <ion-select formControlName="tipo">
            <ion-select-option value="tarea">Tarea</ion-select-option>
            <ion-select-option value="examen">Examen</ion-select-option>
            <ion-select-option value="proyecto">Proyecto</ion-select-option>
            <ion-select-option value="otro">Otro</ion-select-option>
          </ion-select>

          <ion-label position="floating">Puntos Obtenidos (-1 si no esta completada)</ion-label>
          <ion-input formControlName="ptObtenidos" type="number" step="0.01" min="0" max="100"></ion-input>

          <ion-label position="floating">Puntos Posibles</ion-label>
          <ion-input formControlName="ptPosibles" type="number" step="0.01" min="0" max="100"></ion-input>
        </ion-item>
        <ion-button expand="full" fill="outline" (click)="addEvaluacion()">Add Evaluacion</ion-button>
      </ion-item-group>
      <div *ngIf="materiaForm.controls['evaluaciones'].errors?.hasOwnProperty('ptPosiblesSum') 
          && materiaForm.controls['evaluaciones'].touched">
        <ion-item>
          <ion-label color="danger">Total points possible across all evaluations should not exceed 100.</ion-label>
        </ion-item>
      </div>
      <div *ngIf="materiaForm.errors && materiaForm.touched">
        <ion-item *ngIf="materiaForm.errors['id']">
          <ion-label color="danger">{{ materiaForm.errors['id'] }}</ion-label>
        </ion-item>
        <ion-item *ngIf="materiaForm.errors['salon']">
          <ion-label color="danger">{{ materiaForm.errors['salon'] }}</ion-label>
        </ion-item>
        <ion-item *ngIf="materiaForm.errors['pase']">
          <ion-label color="danger">{{ materiaForm.errors['pase'] }}</ion-label>
        </ion-item>
        <ion-item *ngIf="materiaForm.errors['nombre']">
          <ion-label color="danger">{{ materiaForm.errors['nombre'] }}</ion-label>
        </ion-item>
        <ion-item *ngIf="materiaForm.errors['profe']">
          <ion-label color="danger">{{ materiaForm.errors['profe'] }}</ion-label>
        </ion-item>
        <ion-item *ngIf="materiaForm.errors['horario']">
          <ion-label color="danger">{{ materiaForm.errors['horario'] }}</ion-label>
        </ion-item>
        <ion-item *ngIf="materiaForm.errors['evaluaciones']">
          <ion-label color="danger">Errors in Evaluaciones:</ion-label>
          <div *ngFor="let error of materiaForm.errors['evaluaciones']">
            <ion-item *ngIf="error.nombre">
              <ion-label color="danger">{{ error.nombre }}</ion-label>
            </ion-item>
            <ion-item *ngIf="error.tipo">
              <ion-label color="danger">{{ error.tipo }}</ion-label>
            </ion-item>
            <ion-item *ngIf="error.ptObtenidos">
              <ion-label color="danger">{{ error.ptObtenidos }}</ion-label>
            </ion-item>
            <ion-item *ngIf="error.ptPosibles">
              <ion-label color="danger">{{ error.ptPosibles }}</ion-label>
            </ion-item>
          </div>
        </ion-item>
      </div>

    </ion-list>

    <ion-button expand="full" type="submit" [disabled]="!materiaForm.valid">Submit</ion-button>
  </form>
</ion-content>
