.error-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}
