<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="favicon" routerLink="/home">
        <img src="../../assets/icon/favicon_transparent.png" alt="Home" slot="icon-only" width="30" height="30">
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalles de Materia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="materia; else loadingTemplate">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ materia.profe }} - {{ materia.salon }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p class="horario">Horario: {{ materia.horario }}</p>

        <ng-container *ngFor="let tipo of ['examen', 'tarea', 'proyecto', 'otro']">
          <ion-list *ngIf="materia.evaluaciones | filterByTipo: tipo as filteredEvaluaciones;">
            <div [hidden]="filteredEvaluaciones.length === 0">
              <ion-item>
                <ion-label>{{ getTipoPlural(tipo) }}</ion-label>
              </ion-item>
              <ion-item *ngFor="let evaluacion of filteredEvaluaciones">
                <ion-label>{{ evaluacion.nombre }}</ion-label>
                <ion-label slot="end">{{ evaluacion.ptObtenidos }} / {{ evaluacion.ptPosibles }}</ion-label>
              </ion-item>
            </div>
          </ion-list>
        </ng-container>

        <ion-item class="total" *ngIf="materia.evaluaciones.length > 0">
          <ion-label>Total:</ion-label>
          <ion-label slot="end">{{ calcularProgreso().totalPtObtenidos }} / {{
            calcularProgreso().totalPtPerdidos +
            calcularProgreso().totalPtObtenidos }}</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>
